@model ShopBusinessLogic.Models.Product

@{
    ViewData["Title"] = "Tạo mới Sản phẩm";
}
<link href="~/Admin/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
<link href="~/Admin/js/iCheck/skins/minimal/red.css" rel="stylesheet">
<link href="~/Admin/js/iCheck/skins/minimal/green.css" rel="stylesheet">
<link href="~/Admin/js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="~/Admin/js/iCheck/skins/minimal/yellow.css" rel="stylesheet">
<link href="~/Admin/js/iCheck/skins/minimal/purple.css" rel="stylesheet">
<header class="panel-heading">
    Tạo mới Sản phẩm
</header>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="text-align">
                @{
                    if (TempData["AlertMessage"] != null)
                    {
                        <div id="alertBox" class="alert @TempData["Type"]">
                            @TempData["AlertMessage"]
                        </div>
                    }
                }
            </div>
            <form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductName" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { rows = "4", @class = "form-control" }})
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Ncontent" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input type="hidden" asp-for="Ncontent" id="hiddenNcontent">
                        <div id="editor"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input asp-for="ImageFile" class="form-control" type="file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                        <img id="preview" src="@Url.Content(ViewBag.Anh==null?"~/Admin/images/avatar1.jpg":"~/Upload/Avatar/"+ViewBag.Anh)" class="rounded-circle" height="40" width="40" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DateUpdate" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-10">
                        <input asp-for="DateUpdate" class="form-control" />
                        <span asp-validation-for="DateUpdate" class="text-danger"></span>
                    </div>
                </div>
@*                 <div class="form-group">
                    <label asp-for="UserPost" class="col-lg-2 col-sm-2 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="UserPost" class="form-control" asp-items="ViewBag.UserPost"></select>
                    </div>
                </div> *@
                <div class="form-group icheck minimal-blue">
                    <label class="col-lg-2 col-sm-2 control-label">&nbsp;</label>
                    <div class="col-lg-6">
                        <div class="checkbox single-row ">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">&nbsp;</label>
                    <div class="col-lg-10">
                        @Html.ActionLink("Quay trở lại", "Index", "Products", null, new { @class = "btn btn-primary" })
                        <input type="submit" value="Tạo mới"  class="btn btn-danger" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- Modal Loading for BS 5 -->
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body  text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
                <p class="mt-2">Đang xử lý, vui lòng đợi...</p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        DateTime currentDate = DateTime.Now;
    }
    <script>
       
        $(function () {
            $('#alertBox').removeClass('hide');
            $('#alertBox').delay(3000).slideUp(500);
        });
    </script>
    <script src="~/Admin/js/iCheck/jquery.icheck.js"></script>
    <!--icheck init -->
    <script src="~/Admin/js/icheck-init.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js
                "></script>
    <script src="~/admin/controllers/ckeditorProduct.js?@currentDate"></script>
}